/* soft reset do css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {background-image: url('../curso/img/cinza.jpg');
    font-family: arial black;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(170, 168, 168);
    text-size-adjust: 45;
    }
    /* se a tela tiver pelo menos 400px vai carregar este estilos */
    @media (min-width: 400px) {

    }
    header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu {
     background-color: rgb(255, 255, 0);
     position: fixed;
     width: 100vw;
     top: 0;
     }
    .menu ul {
      display: flex;
      justify-content: space-around;
      background-color: rgba(255, 255, 122, 0);
      list-style:none ;
    }
.menu a {
  background-color: rgb(255, 255, 0);
  width:100px;
  height:100px;
  border-radius: 10px 20px 30px 40px;
  padding: 10px;
}
    a {
      color: #4e7aa5;
      text-decoration: none;
    }
    a:hover {
      text-decoration: 
    underline;
    }
    .site-subtitle,
    .site-title,.site-subtitle2 {
      color: rgb(0, 0, 0);
      text-align: center;
      text-shadow:0 0 10px black;
    }
    .site-subtitle {
      font-style: italic,bold;
    }
    .img-portfolio {
      weight: 180px;
      width: 180px;
    }
}
.img-portfolio {
  color: rgb(8, 8, 8);
}
.site-subtitle2 {
  font-style: italic
}
.containerFlex {
  display: flex;
  justify-content: space-around;
  }