/* soft reset do css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: arial black;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(167, 167, 167);
    text-size-adjust: 45;
    font-family: 'Pangolin', monospace;
    font-style: bold;
    }
    /* se a tela tiver pelo menos 200px vai carregar este estilos */
    @media (min-width: 200px)
      .menu {
      }
    .menu {
        background-color: rgb(255, 255, 0);
        position: fixed;
        width: 100vw;
        top: 0;
    }
    .menu ul {
      display: flex;
      justify-content: space-around;
      background-color: rgba(255, 255, 122, 0);
      list-style:none ; 
    }
.menu a {
  background-color: rgb(255, 255, 0);
  width:100px;
  height:100px;
  border-radius: 10px 20px 30px 40px;
  padding: 10px;

}
    a {
      color: #4e7aa5;
      text-decoration: none;
    }
    a:hover {
      text-decoration: 
    underline;
    }
    .site-subtitle,
    .site-title,.site-subtitle2 {
      color: rgb(0, 0, 0);
      display: flex;
      text-align: center;
      text-shadow:0 0 10px black;
      justify-content: center;
      align-items: center;
    }
    .site-subtitle {
      font-style: italic,bold;
      font-family: 'Press Start 2P', cursive;
      line-height: 1.8em;
    }
    .site-title {
      font-size: 10ex;
      font-family: 'Teko', sans-serif;
    }
    .img-portfolio {
      height: 180px;
      width: 240px;
    }
.img-portfolio {
  color: rgb(8, 8, 8);
}
.site-subtitle2 {
  font-style: italic
}
.portfolio h2 {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
  padding: 1.5em;
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  }
  .portfolio figure{
    text-align: center;
  }

@media (min-width: 600px) {
  .portfolio .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 240px 240px;
    padding: 1.5em;
  }
  @media (min-width: 860px) {
    .portfolio .grid {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(4, 240px);
      padding: 1.5em;
      justify-content: center;
    }
    /* o código a seguir acabei colando, pois não estava conseguindo fazer por conta propria*/
    .zoom {
      overflow: visible;
    }
    
    .zoom img {
      max-width: 100%;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    
    .zoom:hover img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .menu a:hover {
      color:white;
      background-color:rgb(255, 187, 0);
      text-decoration: underline;
  }
  @media (min-width: 320px) {
    .menu .grid {
    display: flex;
    justify-content: space-around;
    gap: 2em;}
  }